*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-image: linear-gradient(to right, rgb(197, 193, 193),rgb(126, 125, 128),rgb(120, 120, 122));
    background-repeat: no-repeat;
    background-attachment: fixed;
}