*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-image: linear-gradient(to right, rgb(159, 125, 190),rgb(143, 91, 190),rgb(74, 74, 180));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
